.counter{
  margin: 30px;
  font-size: 100px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  color:#7C0A02;
}
.counter-text{
  font-size:30px;
  font-weight: 200;
  margin-top: -30px;
  color:rgba(124,10,2,.5)
}
.counter-block{
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px;
}

@media(max-width: 400px){
  .counter-text{
    font-size: 20px;
    margin-top: -25px;
  }
  .counter{
    margin:25px;
    font-size: 75px;
  }
}
