.navbar.navbar-expand-xl{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.navbar-collapse.collapse{
  display: flex;
  justify-content: flex-end;
}

.collapse:not(.show){
  display: none;
}

.collapse.show{
  display: flex;
  justify-content: center;
}

.nav-link{
  text-decoration: none;
  text-decoration-color: none;
}

.logo-container{
  background-image: url('./../../images/Logo-horizontal-red.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 300px;
}

.navbar-brand{
  width: 25%;
  height:20%;
}

.navbar-brand>img{
  width: 100%;
  height: 100%;
}
